*{
    padding: 0;
    margin: 0;
}
li{
	list-style: none;
}
a{
    text-decoration: none;
}
a:hover,a:focus{
	text-decoration: none;
}
textarea{
    resize:none;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.center{
    text-align: center;
}
.clear{
    clear: both;
}
body{
    font-family: "Hiragino Sans GB",Helvetica,"PingFang SC","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 13px !important;;
    line-height: 1.5 !important;;
    color: #657180 !important;;
    background: #E8E9EE !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*页面头部开始*/
.nav-header-box{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #006699;
    color: #b5d4ea;
    position: fixed;
}
.nav-header-box div{
    float: left;
    height: 50px;
}
.nav-header-box .logo{
    width: 150px;
    text-align: center;
    /*background: red;*/
}
.nav-header-box .nav-list{
    padding-left: 20px;
}
.nav-header-box .nav-list ul li{
    float: left;
    padding: 0px 25px 0px 25px;
    cursor: pointer;
}
/*.nav-header-box .nav-list ul li a{
    color: #b5d4ea;
}*/
.nav-header-box .nav-list ul .on{
    color: #fff !important;
    background: url(../img/nav_cur.png) no-repeat;
    font-weight: 700;
    background-position:center 9px;
}
.nav-header-box .nav-other{
    float: right;
    padding-right: 30px;
    text-align: right;
}
.nav-header-box .nav-other a{
    color: #b5d4ea;
}
.nav-header-box ul li{
    float: left;
    margin-left: 10px;
}
/*页面头部结束*/
/**页面主体内容开始**/
.main-content{
    background: #E8E9EE !important;
    height: 100%;
    /*margin-top: 70px;*/
}
.main-content .left-nav{
    width: 8%;
    background: #E8E9EE;
    text-align: left;
    color: #333;
    padding-top: 20px;
    padding-left: 30px;
    border-right: 4px solid #E0E0E0;
    /*float: left;*/
    position: fixed;
    margin-top: 50px;
    overflow:auto;
}
.main-content .left-nav ul .parent-nav-item{
    padding: 8px 0px 8px 0px;
    overflow: hidden;
}
.main-content .left-nav ul .parent-nav-item span{
    color: #333;
    font-weight: 400;
    cursor: pointer;
    padding-bottom: 7px;
    display: block;
    font-size: 12px;
}
.main-content .left-nav ul .parent-nav-item .sub-nav-item{
    background: red;
}
.main-content .left-nav ul .parent-nav-item .sub-nav-item a{
    float: left;
    width: 82%;
    padding: 7px 0px 7px 20px;
    color: #333;
    font-style: normal;
    font-size:12px;
}
.right-content{
    float: right;
    width: 90%;
    /*margin-top: 50px;*/
    padding-top: 55px;
    background: #E8E9EE !important;
}
/**页面主体内容结束*/
.first-title{
    height: 30px;
    line-height: 30px;
    background: #ccc;
    padding-left: 10px;
    font-weight: bold;
    border: 1px solid #dddddd;
    font-size:12px;
}
.first-item li{
    padding: 8px 0px 8px 20px;
    font-size:12px;
}
.bread-nav{
    padding: 8px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-top: 2px solid #ddd;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #006699;
    font-weight: 600;
    overflow: hidden;
}
.bread-nav a{
    float: left;
    color: #006699;
}
.input-error{
    background:#FFCCCC !important;
    color: #3B3E40 !important;
}
.a-basic-btn{
    color: #333;
    background: #e6e6e6 url(../img/btn.png);
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    padding: 5px 10px;
    display: inline-block;
    font-size: 100%;
    line-height: normal;
    text-decoration: none;
    overflow: visible;
    vertical-align: middle;
    text-align: center;
    zoom: 1;
    white-space: nowrap;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}
.a-basic-btn:hover {
    background-position: 0 -40px;
    color: #333;
    text-decoration: none;
}
.bread-do{
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size:13px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/*列表搜索开始*/
.basic-item-seach{
    margin-top: 20px;
}
.search-start_time,.search-end_time{
    width: 100px;
    height: 18px;
    padding: 4px 4px;
    border: 1px solid #ccc;
    font-size: 100%;
    line-height: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 2px #f0f0f0 inset;
    vertical-align: middle;
    margin: 0;
    font-family: inherit;
}
.search-title{
    width: 200px;
    height: 18px;
    padding: 4px 4px;
    border: 1px solid #ccc;
    font-size: 100%;
    line-height: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 2px #f0f0f0 inset;
    vertical-align: middle;
    margin: 0;
    font-family: inherit;
}
.search-status{
    width: 100px;
    height: 30px;
    padding: 4px 4px;
    border: 1px solid #ccc;
    font-size: 100%;
    line-height: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 2px #f0f0f0 inset;
    vertical-align: middle;
    margin: 0;
    font-family: inherit;
}
/*列表搜索结束*/
/*搜索列表开始*/
.basic-item{
  /*  position: relative;*/
    margin-top: 20px;
    margin-bottom:80px;
    overflow: auto;
}
.basic-item table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}
.basic-item table thead{
    background: #ddd;
    border-top: 2px solid #ddd;
}
.basic-item table thead tr td, .table_list thead tr:hover td {
    padding: 5px 9px;
    background: #e6e6e6;
    border-top: 1px solid #ddd;
    color: #666 !important;
}
.basic-item table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.basic-item table tbody tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.basic-item table tbody tr td {
    padding: 7px 10px 9px;
    border-bottom:1px solid #eee; 
}
.list-orders-input{
    width: 40px;
    height: 18px;
    padding: 4px 4px;
    border: 1px solid #ccc;
    font-size: 100%;
    line-height: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 2px #f0f0f0 inset;
    vertical-align: middle;
    margin: 0;
    font-family: inherit;
}
.basic-item table tbody tr td a{
    color: #266aae;
}
.basic-item table tbody tr td a:hover{
    text-decoration: underline;
}
.btn_wrap_pd{
    width: 100%;
    padding: 12px 10px 12px 17px;
    left: 10%;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #d8d8d8;
    background:#f0f0f0;
    box-shadow: 2px 2px 2px #f0f0f0 inset;
}
.btn_wrap_pd a{
    margin-right: 15px;
}
.item-page{
    padding: 20px 0px 10px 0;
}
.item-page a{
    color: #006699;
    display: inline-block;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-decoration: none;
    font-family: Simsun;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin-right: 3px;
}
.item-page .current{
    color: #fff !important;
    background-color: #006699 !important;
    cursor: default;
}
/*搜索列表结束*/
/*表单开始*/
.requird:before{
    content: "*";
    color: red;
    padding-right: 5px;
    padding-top: 5px;
}
.error-info{
    text-align:center;
    color:red;
    height: 20px;
    display: block;
}
.p-error-info{
    color:red;
    display: inline-block;
    padding-left: 10px;
}
.form-group label{
    font-weight: 100 !important;
}
.form .form-group{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.form-control{
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input{
    padding: 4px 4px;
    font-size: 100%;
    line-height: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 2px #f0f0f0 inset;
    /* border-radius: 1px; */
    vertical-align: middle;
    margin: 0;
    font-family: inherit;
}
.form-control-text{
    height: 34px !important;
}
.form-control-textarea{
    height: 34px;
}
input[type="radio"]{
    margin-left: 10px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-primary{
    color: #fff;
    background-color: #006699;
    border-color: #006699;
}
.btn-block {
    display: block;
    width: 100%;
}
.layui-layer-btn .layui-layer-btn0 {
    border-color: #006699 !important;
    background-color: #006699 !important;
    color: #fff;
}
.add-table{
    width: 100%;
    border-collapse: collapse !important;
    border: 1px solid #e5e3e3;
}
.add-table tbody tr{
    border-bottom: 1px solid #e5e3e3 !important;
    /*background: url(../img/hr.png) 0px bottom repeat-x !important;*/
/*    background-color: #f8f8f8;*/
    border-right: 1px solid #e5e3e3;
}
.add-table tbody th{
    padding: 7px 10px 9px;
    border-right: 1px solid #e5e3e3;
    font-weight: 100;
    line-height: 24px;
    vertical-align: top;
    font-size: 12px;
    text-align: left;
}
.add-table tbody td {
    padding: 7px 10px 9px 15px;
    color: #666;
    vertical-align: top;
    font-size: 13px;
}
/*表单结束*/
.a-tab{
    margin: 8px 0 10px 0;
    border-bottom: 2px solid #f8f8f8;
    display: flex;
}
.a-tab a{
     display: block;
     width: 80px;
     padding: 15px 0 10px 0;
     color: rgb(102, 102, 102);
     padding-right: 20px;
     text-align: center;
     float: left;
}
.a-tab a:hover{
    color: #006699;
    border-bottom: 2px solid #006699;
}
.a-tab .on{
    color: #006699;
    border-bottom: 2px solid #006699;
}
.logo-log{
    display: table;
    padding-left:15px;
    padding-top:10px;
}
.logo-log tr{
    height: 50px;
}